@model WebApplication2.ViewModels.EmpRegisterViewModel

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedRoleId, "Role")
        @Html.DropDownListFor(m => m.SelectedRoleId, Model.Roles, "Select a Role", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
