@model WebApplication2.ViewModels.EmployeeDetailsViewModel

<h2>Delete Employee</h2>

<p>Are you sure you want to delete this employee?</p>

<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>Email</dt>
    <dd>@Model.Email</dd>
    <dt>Role</dt>
    <dd>@Model.RoleName</dd>
</dl>

<form method="post" asp-action="Delete">
    <input type="hidden" name="id" value="@Model.EmpId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="EmployeeList" class="btn btn-secondary">Cancel</a>
</form>